<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Province:</strong>
  <%= @city.province %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @city.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @city.longitude %>
</p>

<div id="map"></div>
<script>
  function initMap() {
    var uluru = {lat: <%= @city.latitude %>, lng: <%= @city.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWltW2m6BeghcMJWtmQC7zWYvZ0hNE2ms&callback=initMap">
</script>

<!--<p><%= link_to 'Edit', edit_city_path(@city) %></p>-->
<!--<p><%= link_to 'Back', cities_path %></p>-->

<br>
<p><%= link_to 'Back', cities_path, :class => "btn btn-success btn-md" %></p>